<header class="site-header">
    <div class="header-inner">
      <div class="site-title">
        <a href="{{ '/' | relative_url }}" class="logo-link">
          <img
            src="{{ '/assets/images/ALBBS.png' | relative_url }}"
            alt="Remote Astronomy Charity logo"
            class="site-logo"
          />
          <span class="site-name">{{ site.title }}</span>
        </a>
      </div>
  
      <nav class="site-nav">
        <a href="{{ '/plans/observatory' | relative_url }}">Observatory</a>
        <a href="{{ '/plans/lessons' | relative_url }}">Course</a>
        <a href="{{ '/about/' | relative_url }}">About</a>
      </nav>
    </div>
  </header>
  