<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
  {% include header.html %}

  <main class="content two-column">

    <div class="main-column">
      {{ content }}
    </div>

    <div class="side-column">

      <figure>
        <img
          src="{{ '/assets/images/home_image_1.jpg' | relative_url }}"
        >
      </figure>

      <figure>
        <img
          src="{{ '/assets/images/home_image_2.jpg' | relative_url }}"
        >
      </figure>

    </div>

  </main>

  {% include footer.html %}
</body>
</html>
